.mainContainer{
  //background: #9c9c9c;
  $width: 545px;
  width: $width;
  position: absolute;
  top: 30%;
  margin-top: -100px;
  left: 50%;
  margin-left: -$width / 2;

}


.login-form {
  $width: 312px;
  width: $width;
  float: left;
  //background: red;
  //position: absolute;
  //top: 50%;
  //margin-top: -100px;
  //left: 30%;
  //margin-left: -$width / 2;
}

.login-img {
  float: left;
  /*
  $width: 300px;
  width: $width;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 70%;
  margin-left: -$width / 2;
  */
}


.login-admins-sep{
  position: relative;
  left: 61px;
}

.error-msg{
 color: red;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.table-header{
  font-weight: bold;
}


.main-report{
  top: 100px;
  left: 45px;
  position: absolute;
}

.loginFrm{
  margin-right: 33px;
}

.illy-header{
  background-color: #d1231f;
}

.chart-top-sep{
  margin-bottom: 25px;
}

.chart-bottom-sep{
  margin-top: 40px;
}