.login-form {
  $width: 300px;
  width: $width;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -$width / 2;
}

.login-admins-sep{
  position: relative;
  left: 61px;
}

.error-msg{
 color: red;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.table-header{
  font-weight: bold
}


.main-report{
  width: 40%;
  top: 100px;
  left: 45px;
  position: absolute;
}