.content-panel-main {
  top: 90px;
  left: 25%;
  position: absolute;
  width: 600px;

}


.content-panel-main-secondrow {
  top: 415px;
  left: 25%;
  position: absolute;
  width: 580px;

}

.content-panel-users{
  width: 300px;
  /* position: absolute; */
  float: left;
  top: 25px;
  left: 3%;
}

.content-panel-admin{
  float: left;
  margin-left: 10px;
  width: 272px;
}

.content-panel-upload{
  float: left;
}

.components-separator{
  margin-bottom: 10px;
}