{% extends "mainTemplate.html" %}

{% block title %} Administrator Section {% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/admin.css" > {% endblock %}
{% block js %}
<script src="/js/admin.js" ></script > {% endblock %}


{% block content %}

<div class="panel panel-default" >
    <div class="panel-heading" >
        <h3 class="panel-title" >Welcome to illy caffè North America MAP Pricing list administrators section <a
                href="/" >[Close]</a ></h3 >

    </div >


    <div class="content-panel-main" >


        <div class="panel panel-info content-panel-users" >

            <div class="panel-heading" >Change regular password</div >
            <div class="panel-body" >
                <form method="post" action="/userresetpwd" name="users" id="users" >

                    <input type="hidden" name="username" value="{{ user }}" >
                    <label for="new_pass" >New password</label >
                    <input type="password" id="new_pass" name="new_pass" class="form-control components-separator"
                           required >

                    <label for="confirm_pass" >Repeat password</label >
                    <input type="password" id="confirm_pass" name="user_confirm_pass"
                           class="form-control components-separator" required >

                    <button type="submit" class="btn btn-default" id="btn-user-frm" >Change</button >
                    <input type="hidden" name="req_type" value="user" >

                    <span class="error-msg" id="user_frm_error" >
                        {% if msg_div == "user" %}
                        {{ msg }}
                        {% endif %}
                    </span >
                </form >
            </div >
        </div >


        <div class="panel panel-info content-panel-admin content-panel-admin" >
            <div class="panel-heading" >Change admin access password</div >
            <div class="panel-body" >
                <form method="post" action="/adminresetpwd" name="admin" id="admin" >

                    <input type="hidden" name="username" value="{{ admin }}" >
                    <label for="new_pass" >New password</label >
                    <input type="password" id="new_pass" name="new_pass" class="form-control components-separator"
                           required >


                    <label for="adm_confirm_pass" >Repeat password</label >
                    <input type="password" id="adm_confirm_pass" name="adm_confirm_pass"
                           class="form-control components-separator" required >

                    <button type="submit" class="btn btn-default" >Change</button >
                    <input type="hidden" name="req_type" value="admin" >
                    <span class="error-msg" id="adm_frm_error" >
                                            {% if msg_div == "admin" %}
                    {{ msg }}
                    {% endif %}
                    </span >
                </form >
            </div >
        </div >
    </div >


    <div class="content-panel-main-secondrow" >
        <div class="panel panel-info content-panel-admin content-panel-upload" >
            <div class="panel-heading" >Upload new MAP Price list</div >
            <div class="panel-body" >
                <form method="post" action="/upload" name="upload_frm" id="upload_frm" enctype="multipart/form-data">
                    <div class="form-group" >
                        <label for="upload_csv" >File input</label >
                        <input type="file" name="upload_csv" id="upload_csv" required >
                        <p class="help-block" >File format must be CSV windows comma text file separated.</p >
                        <button type="submit" class="btn btn-default" >Upload</button >
                    </div >
                </form >
            </div >
        </div >


    </div >

</div >


</div >


{% endblock %}

