<table class="table table-striped table-bordered table-hover" >

    {% for row in data|e %}
    {% if row|length > 1 %}

    {% if loop.first %}
    <thead >
    <tr class="illy-header" illy-header>

        {% for item in row %}
        <td class="table-header" >
            {{ item }}
        </td >
        {% endfor %}
    </tr >
    </thead >
    {% else %}
    <tr>
        {% for item in row %}
        <td class="table-header" >
            {{ item }}
        </td >
        {% endfor %}
    </tr >
    {% endif %}
    {% endif %}
    {% endfor %}

    </tbody >
</table >
