{% extends "mainTemplate.html" %}

{% block title %} Login {% endblock %}


{% block content %}
<div class="login-form center-block" >

    Login into illy caffè North America MAP Pricing list

    {% if error != "" %}

    <div class="panel panel-default" >
        <div class="panel-body error-msg">
            {{ error }}
        </div >
    </div >

    {% endif %}


    <form method="post" action="/auth" >


        <div class="form-group" >
            <label for="username" >Username</label >
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" >
        </div >
        <div class="form-group" >
            <label for="password" >Password</label >
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
        </div >
        <div >
            <button type="submit" class="btn btn-default" >Submit</button >
            <span class="login-admins-sep">
                <label for="administrator">
                    <input type="checkbox" id="administrator" name="administrator" checked> I'm an administrator
                </label>
            </span >

        </div >
    </form >
</div >




{% endblock %}