{% extends "mainTemplate.html" %}

{% block title %} MAP Pricing - prices {% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/report.css" >
{% endblock %}

{% block content %}

<div class="panel panel-default" >
    <div class="panel-heading" >
        <h3 class="panel-title" >Welcome to illy caffè North America MAP Pricing page list</h3 >
    </div >
    <div class="panel-body" >
        <div class="main-report" >
            <p class="chart-top-sep" >Below are the MAP prices referred to in Section 2 of the illy caffe North America
                MAP Pricing Policy.</p >

            {% if report == false %}
            <div class="alert alert-info centerMe" role="alert" >
                <p >No prices has been uploaded yet, please come back later</p >
            </div >


            {% else %}
            {% include report %}
            {% endif %}


            <p class="chart-bottom-sep" >For any questions, please contact the illy MAP Administrator at <a
                    href="mailto:mapadmin@illy.com" >mapadmin@illy.com</a ></p >
        </div >
    </div >
</div >


{% endblock %}